<div class="footer-class">
    <div>
        Developed by <a  href="https://www.linkedin.com/in/uthra-karuna" target="_blank" rel="noopener noreferrer">@Uthra K</a>
    </div>
    <div>
        <a href="https://github.com/code-par-learn/cv-new" target="_blank" rel="noopener noreferrer">View On Github</a>
    </div>
</div>