<div class="home-main">
  <div class="home-div">
  <h1 class="home-heading"><span>Hi</span> , Welcome to File Vault</h1>
  <p class="home-about">Effortlessly upload, organize and secure your files, all in one place. With advanced encryption and seamless folder management , your data is safe, accessible, and always within reach!</p>
  <a href="/get-started" class="home-link">
    <span class="">Get started</span> 
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
    </svg>
  </a>
</div>
  <div class="cards-div">
 <a href="#" class="card-a">

  <h5 class="card-h5">Seamless File Uploads</h5>
  <p class="card-p">Upload files effortlessly with a smooth file selection.Keep your files neatly organized with our intuitive folder system.</p>
  </a>

  <!-- <a href="#" class="card-a">

    <h5 class="card-h5">Organized Folder Management</h5>
    <p class="card-p"> Keep your files neatly organized with our intuitive folder system. Create, edit, and delete folders with just a few clicks.</p>
    </a> -->

    <a href="#" class="card-a">

      <h5 class="card-h5">Secure User Authentication</h5>
      <p class="card-p"> We use secure authentication methods, including session-based logins and token-based authentication, ensuring only authorized users can access files.</p>
      </a>

      <a href="#" class="card-a">

        <h5 class="card-h5">Cloud Storage Integration</h5>
        <p class="card-p">Store your files securely in the cloud with options for Cloudinary or Supabase integration. Access your files from anywhere, at any time.</p>
        </a>
      </div>
  
</div>
